/* CardCarousel.css */

.carousel {
    background: #ffffff;
    padding: 20px;
    margin: 0 auto;
    width: 70%;
  }
  
  .card {
    background-color: #000000 !important;
    border-radius: 25px !important;
    width: 670px !important;
    height: 580px !important;
    align-items: start;
    justify-content: left;
    margin:0px 50px;
    opacity: 0.5; /* Brighten selected card */
  }

  .top-bar{
    border-top-left-radius: 23px !important;
    border-top-right-radius: 23px !important;
    width:100%;
    height: 35px !important;
    background-color: rgb(195, 188, 188);
    display: block;
  }

  .red-circle {
    width: 13px;
    height: 13px;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .yellow-circle {
    width: 13px;
    height: 13px;
    background-color: rgb(240, 229, 23);
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 35px;
  }

  .green-circle {
    width: 13px;
    height: 13px;
    background-color: rgb(74, 189, 39);
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 60px;
  }
  
  .card.selected {
    border-radius: 25px !important;
    opacity: 1; /* Brighten selected card */
    z-index: 100;
  }

  /* Customizing the previous button */
.flickity-prev-next-button.previous {
    left: -28px; /* Move it to the left */
  }
  
  /* Customizing the next button */
  .flickity-prev-next-button.next {
    right: -28px; /* Move it to the right */
  }
  
  
  .slide-in {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }

.experience-headers{
    font-family: 'Rokkitt', serif;
    font-size: 20;
    font-weight:500;
    margin-bottom: 2px;
    color: #EA5A28 !important;
    margin-top: 10px !important;
    padding-left: 20px;
    transform: translateY(50px);
    opacity: 0;
    Transition: all ease 1s;  
  }
  
  .experience-when{
    font-family: 'Rokkitt', serif;
    font-size: 20;
    margin-top: 10px !important;
    margin-right: 20px !important;
    margin-bottom: 2px;
    color: #ffffff !important;
    transform: translateY(50px);
    opacity: 0;
    Transition: all ease 1s;  
  }
  
  .experience-answers{
    font-family: 'Rokkitt', serif;
    font-size: 30 !important;
    margin-top: 10px;
    margin-left:0 !important;
    color: #A484DE !important;
    padding-left: 20px;
    transform: translateY(50px);
    opacity: 0;
    Transition: all ease 1s;
  }
  
  .experience-time{
    font-family: 'Rokkitt', serif;
    margin-top: 2px;
    margin-right: 20px !important;
    color: #ffffff !important;
    padding-left: 20px;
    transform: translateY(50px);
    opacity: 0;
    Transition: all ease 1s;

  }
  
  .experience-technologies{
    font-family: 'Rokkitt', serif;
    font-size: 20px !important;
    margin-top: 2px;
    color: #ffffff !important; 
    padding-left: 20px;
    transform: translateY(50px);
    opacity: 0;
    Transition: all ease 1s;
  }

  .experience-description li{
    font-family: 'Rokkitt', serif;
    font-size: 20px !important;
    margin-right:20px !important;
    color: #ffffff !important; 
    text-align: left;
    margin-bottom: 15px;
    padding-left: 20px;
    transform: translateY(50px);
    opacity: 0;
    Transition: all ease 1s;
  }

  @media (max-width: 850px) {
    .card {
      width: 470px !important;
      height: 580px !important;
      margin: 0px 10px;
      overflow-y: auto;
      background-color: #000000 !important;
    }
    .carousel {
      background: #ffffff;
      padding: 10px;
      margin: 0 auto;
      width: 90%;
    }
    .flickity-prev-next-button {
      width: 24px; /* Move it to the left */
      height: 24px;
    }
    .top-bar{
      height: 30px !important;
      position: fixed;
    }
    .experience-answers{
      font-size: calc(0.7em + 2vw) !important;
      padding-left: 10px;
      padding-right: 5px ;
      margin-top: 35px;
      color: #EA5A28 !important;
    }

  }

  @media (max-width: 500px) {
    .carousel {
      background: #ffffff;
      padding: 10px;
      margin: 0 auto;
      width: 85%;
    }
    .card {
      width: 17rem !important;
      height: 32rem !important;
      margin: 0px 10px;
      overflow-y: auto;
    }

    .experience-headers{
      font-size: calc(0.5rem + 2vw);
      padding-left: 10px;
      margin-top: 5px !important;
    }

    .experience-answers{
      font-size: calc(0.7em + 2vw) !important;
      padding-left: 10px;
      padding-right: 5px ;
      margin-top: 35px;
      color: #EA5A28 !important;

    }

    .experience-time{
      font-size: calc(0.4em + 2vw) !important;
      padding-left: 10px;
    }

    .experience-technologies{
      font-size: calc(0.4em + 2vw) !important;
      padding-left: 10px;
    }
    .experience-description li{
      font-size: calc(0.4em + 2vw) !important;
      padding-left: 10px;
    }
    .top-bar{
      height: 30px !important;
      position: fixed;
    }

    

  }